.home-container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.home-container h1{
    text-align: center;
    color: var(--primary-color);
    font-weight: 600;
}

.home-container .tagline{
    text-align: center;
    color: rgb(143, 143, 143);
    width: 400px;
    line-height: 25px;
    margin: 10px auto;
}

.carousel-item {
    transition: all 1s ease;
    min-width: 22vw;
    margin: 10px;
}

.carousel-item .store-card-container, .carousel-item .product-card-container {
    width: auto;

}
