#product-details-container {
    width: 80%;
    margin: auto;
    display: flex;
    height: 550px;
    background-color: rgb(223, 223, 223);
    border-radius: 4px;
    margin-top: 10px;
    padding: 5px;
}

#product-details-container .product-detials-img-container {
    height: 100%;
    width: 50%;
    border-radius: 4px;
    overflow: hidden;
}

.product-detials-img-container .banner{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
