/** @format */

.cart-container {
  position: relative;
}
.cart {
  position: absolute;
  right: 25px;
  top: 25px;
  min-width: 250px;
  min-height: 75px;
  width: fit-content;
  background-color: rgb(245, 245, 245);
  padding: 5px;
  border-radius: 4px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
z-index: 1;
}

.cart h2 {
    width: 100%;
    text-align: center;
}

.cart-container button {
  width: 100%;
}

.cart .cart-item {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    margin: 0 5px 5px 0;
    padding: 5px;
    border-top: 1px solid var(--neutral-color);
    justify-content: space-between;
    align-items: center;
}

.cart .cart-item .cart-item-info{
  display: flex;
  flex-direction: column;
}

.cart .cart-item .cart-item-info p {
  margin: 0;
  padding: 0;
}

.cart .cart-item input {
    width: 20px;
    height: fit-content;
    text-align: center;
    background-color: none;
    border: none;
    margin: 0 2px;
}

.cart .cart-item .increment-btn {
  width: fit-content;
  font-size: 12px;
  cursor: pointer;
}

.cart .cart-item .increment-container {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid var(--neutral-color);
  border-radius: 4px;
}
