#nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--neutral-color);
}

#nav-menu {
  display: flex;
  align-items: center;
  margin: none;
}

#nav-menu > * {
  list-style: none;
}

#account-actions .dropdown-icon{
  background-color: transparent;
  display: flex;
  justify-content: center;
  border: none;
  font-size: 25px;
  margin: auto;
  color: var(--primary-color);
  cursor: pointer;
}
