form{
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h1 {
    color: var(--primary-color);
    font-weight: 600;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 5px 0;
}

.form-item input:active + label {
    color: red;
}


.form-item label {
    font-weight: 500;
    color: var(--neutral-color);
    font-size: 18px;
    margin: 5px 0;
}

.form-item input, select {
    padding: 5px;
}

.form-item textarea {
    resize: none;
    height: 200px;
    overflow-y: scroll;
}

textarea::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }


textarea::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

.form-item input, textarea, select {
    border: 1px var(--neutral-color) solid;
    border-radius: 4px;
}

form button {
    margin: 20px 0;
    width: 100%;
}
